body {
    background-color: #bdbdbd;
    margin: 0;
}



div.post .post-header {
    
    height: 80px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div {
    box-sizing: border-box;
}


header h1 {
    margin: 0;
}

div.container {
    width: 600px;
    margin: auto;
}

div.post{
    background-color: white;
    margin-top: 10px;
}

div.post .post-header div:first-child{
    display: inline-block;
    width: 80%;

}

div.post .post-header div:last-child{
    display: inline-block;
    width: 20%;
text-align: right;
padding: 10px;
color: black;
}

div.post h2, div.post p{
    padding: 10px;
    margin: 0;
} 

div.post img {
width: 100%;

}

.saveIcon{
    padding-right: 20px;
    float: right;
    }

.description {
    padding-bottom: 10px;    ;
}    

.icons {
    padding-left: 10px;
    padding-top: 10px;
}

.symbol{
     font-size: 50px; 
 }

 .titulo{
   margin-bottom:-100px; 
 }